* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

/* HEADER STYLES */
header {
    background: linear-gradient(to right, #8fd2ff, #86a5ff, #000072);
}

h1 {
    text-align: center;
    color: white;
    padding: 15px;
    margin-top: 0;
}

/* INPUT STYLES */
#search-section {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

#search-city, 
#searchBtn {
    width: 200px;
    margin-bottom: 10px;
}

#search-city {
    height: 40px;
}

#searchBtn {
    height: 25px;
    background-color: #86a5ff;
    color: white;
}

#searchBtn:hover {
    cursor: pointer;
}

.cities {
    list-style: none;
    padding-left: 0;
}
