* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
} 

/* HEADER STYLES */
header {
    background: linear-gradient(to right, #8fd2ff, #86a5ff, #000072);
    margin-bottom: 25px;
}

h1 {
    text-align: center;
    color: white;
    padding: 15px;
    margin-top: 0;
}

/* INPUT STYLES */
#search-section {
    display: flex;
    flex-direction: column;
} 

#search-city, 
#searchBtn {
    margin: 10px 0 10px 0;
    border-radius: 5px;
    border-color: black;
}

#search-city {
    height: 40px;
}

#searchBtn {
    background-color: #86a5ff;
    color: white;
    margin-bottom: 20px;
}

#searchBtn:hover {
    cursor: pointer;
}

/* TODAYS WEATHER STYLES */
#todays-weather {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
} 

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
}

/* FIVE DAY STYLES */

